

input#sname, input#spass, input#email, input#userName, input#userPw {
    width: 155px;
    margin: 1px 0px 0px 0px;
} 

button#back {
    margin-left: 112px;
}

button#callback {
    float: left;
    margin-left: 85px;
}

div#invalid {
	width: 222.6px;
    margin-left: 400px;
    
    float: left;
}